#navigator-toolbox:not(:-moz-lwtheme) { background: var(--toolbar-field-background-color) !important; }



#nav-bar {

  padding-block-start: 0px !important;

  border:     none !important;
  box-shadow: none !important;
  background: transparent !important;

}


#urlbar,
#urlbar * {

  padding-block-start: var(--uc-urlbar-top-spacing) !important;

  outline: none !important;
  box-shadow: none !important;

}


#urlbar-background { border: transparent !important; }

#urlbar[focused='true']
  > #urlbar-background,
#urlbar:not([open])
  > #urlbar-background { background: var(--toolbar-field-background-color) !important; }

#urlbar::-moz-selection{
    color: : rgba(255,0,0,0.5) !important;
    background-color: : #ff0000 !important}


#urlbar[open]
  > #urlbar-background { background: var(--toolbar-field-background-color) !important; }


.urlbarView-row:hover
  > .urlbarView-row-inner,
.urlbarView-row[selected]
  > .urlbarView-row-inner { background: var(--toolbar-field-focus-background-color) !important; }


.urlbar-icon, #urlbar-go-button { margin: auto; }
.urlbar-page-action { padding: 0 inherit !important; }
.urlbar-page-action .urlbar-icon { margin-top: 6px !important; }

#nav-bar {
  /* customize this value. */
  --navbar-margin: -44px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
  background-color: rgba(0,0,0,0) !important;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#nav-bar-overflow-button { display: none !important;}
